@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik+Scribble&display=swap");
$background: #1e1a3b;
$text-color: white;
$font-family: "Inter", sans-serif;
$font-display: "Rubik Scribble", cursive;
$primary-color: #6b5be6;
$elevation: #2e2865;
$danger-color: #bf3e3e;

@mixin tablet-and-up() {
  @media only screen and (min-width: 600px) {
    @content;
  }
}
